body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}
.under
{
  text-decoration: underline;
}
.top_container
{
  background-color:white;
  position: relative;
  padding-top:100px;
}
.maymay
{
  width:50%;
  margin: auto;
  margin-top: 100px;

}
p{
  line-height: 2
}
h1
{
  width: 35%;
  margin: 45px auto 0 auto;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  line-height: 2;
  color:black;
}
h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color:  #66BFBF;
  font-weight: normal;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  color:  #66BFBF;
}
hr
{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.img_1
{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 40%;

}
.img_2
{
  width: 25%;
  float: right;
  margin-left: 30px
}
.middle-container
{
  margin: 100px 0;
}
.profile
{
  width: 55%;
  margin: auto;
}
.intro
{
  width:50%;
  margin: auto;
}
.contact-message
{
  width: 50%;
  margin: 40px auto 60px;
}
.contact
{
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  border: solid black 1px;
  padding: 20px;
  color: black;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 50px;

  
}

.contact:hover
{
  color: green;

}
.bottom-container
{
  background-color: #d6e9c6;
  padding: 50px 0 20px;
}
a
{
  color: #11999E;
  text-decoration:none;
  margin:10px 20px;
}
a:hover
{
  color:purple;
}
.die
{
  width: 35%;
  position:relative;
  margin:auto;
  display: block;

}
.copyright
{
  font-size: 0.75rem;
  padding: 20px 0;
}
